body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/mountains.jpg);
    background-size: cover;
}